<html>

<head>
  <title>Biblioteka</title>
  <link rel="icon" href="/img/weather.png" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <%- include('./partials/header') %>
  <main id="site-main">
    <div class="container">
      <div class="box-nav d-flex-justify-between">
        <a href="/addbook" class="border-shadow">
          <span class="text-gradient">Nowa książka</span>
        </a>

        <form action="/" method="POST">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Pozycja</th>
                <th>Tytuł</th>
                <th>Autor</th>
                <th>Akcja</th>
              </tr>
            </thead>
            <tbody>
              <%- include('./partials/show') %>
            </tbody>
          </table>
        </form>
      </div>
      <%- include('./partials/footer') %>
    </div>

  </main>
</body>

</html>