<form action="/api/authors" method="post" id="add_author">
  <div class="new_author">
    <div class="form-group">
      <label for="name" class="text-light">Imie</label>
      <input type="hidden" name="id" value="" />
      <input type="text" name="name" value="" placeholder="Podaj imie" />
    </div>
    <div class="form-group">
      <label for="surname" class="text-light">Nazwisko</label>
      <input type="text" name="surname" value="" placeholder="Podaj nazwisko" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn text-dark update">Zapisz</button>
    </div>
  </div>
</form>