  <a href="/" class="topnav active">
    Lista książek
  </a>
  <a style="margin-left:20px" href="/authors" class="topnav">
    Lista autorów
  </a>
  <a style="margin-left:20px" href="/addbook" class="topnav">
    Dodaj książkę
  </a>
  <a style="margin-left:20px" href="/addauthor" class="topnav">
    Dodaj autora
  </a>